ul.breadcrumbs {
    li {
        display: inline-block;
        text-transform: uppercase;
        padding: .5em 0;

        a {
            padding: .25em .5em;
            display: block;
            color: $color-gray;
            letter-spacing: 1px;

            &::after {
                content: '/';
                padding-left: .5em;
            }
        }

        &:first-child a {
            padding: .25em 0;
        }

        &:last-child a::after {
            content: '';
        }
    }
}