.container {
    .product {
        width: 500px;

        @media screen and ($breakpoint-tablet) {
            width: 400px;
        }

        @media screen and ($breakpoint-mobile) {
            width: 100%;
        }
    }

    .details {
        width: 400px;
        padding: 1em;

        @media screen and ($breakpoint-tablet) {
            width: 300px;
        }

        @media screen and ($breakpoint-mobile) {
            width: 100%;
            padding: 0;
        }

        h1 {
            margin: 0;
        }
    }
}