.container {
    .product {
        width: 500px;

        @media screen and ($breakpoint-tablet) {
            width: 400px;
        }

        @media screen and ($breakpoint-mobile) {
            width: 100%;
        }
    }

    .details {
        width: 400px;
        padding: 0 1em;

        @media screen and ($breakpoint-tablet) {
            width: 300px;
        }

        @media screen and ($breakpoint-mobile) {
            width: 100%;
            padding: 0;

            .wrap {
                padding: 1em;
            }
        }

        h1 {
            margin: 0;
            text-transform: uppercase;
            color: $color-primary;
            font-weight: 600;
            letter-spacing: 2px;
        }

        p {
            line-height: 1.5em;
        }

        button {
            margin-top: 1em;
        }
    }
}