// Import other libraries
@import "../../node_modules/reset-css/sass/reset";
@import "../../node_modules/normalize.css/normalize";

// Import local
@import "breadcrumbs";
@import "pdp";

// Global/general styles & classes
html,
body,
#app {
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 2em 0;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 925px) {
        max-width: 700px;
    }

    @media screen and (max-width: 725px) {
        max-width: 100%;
        flex-direction: column;
    }
}