// Import other libraries
@import "../../node_modules/reset-css/sass/reset";
@import "../../node_modules/normalize.css/normalize";

// Breakpoints
$breakpoint-tablet: (max-width: 925px);
$breakpoint-mobile: (max-width: 725px);

// Colors
$color-primary: #E66A6A;
$color-secondary: #F29B9B;

$color-black: #102A43;
$color-gray: #CCCCCC;
$color-white: #FFFFFF;

// Import local
@import "breadcrumbs";
@import "button";
@import "nav";
@import "pdp";

// Global/general styles & classes
html,
body,
#app {
    width: 100%;
    height: 100%;

    // TODO: import actual font
    font-family: 'Avenir Next';
    color: $color-black;
}

a {
    color: $color-secondary;
    text-decoration: none;
}

img {
    max-width: 100%;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 2em 0;
    display: flex;
    flex-direction: row;

    @media screen and ($breakpoint-tablet) {
        max-width: 700px;
    }

    @media screen and ($breakpoint-mobile) {
        max-width: 100%;
        flex-direction: column;
    }
}