# macOS
.DS_Store

# cljs
public/js
node_modules
.shadow-cljs
.nrepl-port
.clj-kondo/.cache

# go
lukevers.design
app

# scss/css
public/css/*.css

# kicad
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
*.net
*.dsn
*.ses
*.xml
*.csv